  html{
    height:100%;
    font: 13px Helvetica, arial, freesans, clean, sans-serif
  }
	body{
		background-color: #000;
		color:#fff;
		margin: 0px;
		padding:0px;

    height:100%;
    overflow: hidden;
	}
  #content{
    /*margin:auto;
    width:600px;*/

    min-height: 100%;
  }
	#game,#chat{
		margin:auto;
    overflow:hidden;
	}
  #game{
		/*height:400px;
		width:400px;*/
    /*float:left;*/
  }
  #chat{
    width:200px;
    position:absolute;
    top:0px;
    max-width: 1200px;
  }/*
  @media all and (max-width: 599px) {
    #chat{
      position: absolute;
      left: 0px;

      margin: 0px;
    }
    #content{
      width: 400px;
    }
  }*/
  .sc{
    float:left;
    position:absolute;
    color:#000;
    top:0px;
  }
  #g_power{
    position:absolute;
    top:0px;
    margin:auto;
    font-size: 350%;
    max-width: 1200px;
    color: #f00;
  }
